<mat-toolbar class="tool-bar">
    <span>Login</span>
</mat-toolbar>
<div class="container">
    <mat-card class="login-card">
        <mat-toolbar>
            <span>Login Tab</span>
        </mat-toolbar>
        <form [formGroup]="registerForm">
            <mat-form-field class="form-field">
                <mat-label>Username</mat-label>
                <input type="text" matInput FormControlName="username" required placeholder="W56511" matInput>
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Password</mat-label>
                <input type="password" matInput FormControlName="password" required matInput>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary">Login</button>
    </mat-card>
</div>